/* This file is for your main application css. */
// @import "./phoenix.css";
@import "../node_modules/bulma/bulma.sass";

#globalNavBar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99999;
}

.overflow-y99 {
  overflow-y: scroll;
  max-height: 99%;
}

.body-pt-4 {
  padding-top: 4rem;
}

body {
  padding-top: 8rem;
}

.notification.is-error {
  background-color: #f14668;
  color: white;
}